body {
    font-family: 'Pathway Gothic One', monospace;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png');
    background-color: #000000;
    background-size: cover;
    color: rgba(255, 255, 0, 0.87);
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    border-right: 2px solid rgba(255, 255, 0, 0.75);
    color: rgba(255, 255, 0, 0.87);
    font-size: 5em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 7em;
    }
}

button {
    border-radius: 8px;
    font-size: 1rem;
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    color: rgba(255, 255, 0, 1)
}

#btnProximaRodada,
.btnDraw {
    background: transparent;
    border: 2px solid rgba(255, 255, 0, 0.75);
    outline: none;
    padding: 12px 40px 10px;
    transition: 1s ease-in-out;
}

#btnProximaRodada:hover,
.btnDraw:hover {
    transition: 1s ease-in-out;
    background: #2196f3;
}

#btnProximaRodada:hover {
    background: #14e21d
}

#resultado {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#carta-jogador,
#carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: flex;
    justify-content: center;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 30px;
    border-radius: 33px;
}

.carta-status {
    height: 150px;
    margin: 2rem;
    z-index: 2;
}

.carta-status input {
    margin-top: 15px;
}

.resultado-final {
    color: yellow;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
    background-image: url('https://media4.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif?cid=ecf05e47fe6mhthncsjj11en6eqldekenrh0kiu0yzrj2sci&rid=giphy.gif');
    background-size: cover;
}

.--spacing {
    margin-left: 2.5rem;
}

form,
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#cartas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.size-card {
    width: 250px;
    height: 250px;
    display: block;
    padding-block: 20px;
}

.supertrunfo {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    font-size: 15px !important;
    color: #000;
}

.supertrunfo-face {
    width: 100%;
    height: fit-content;
    border: 5px solid #C0C0C0;
    border-radius: 10px;
    background-image: url('https://media4.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif?cid=ecf05e47fe6mhthncsjj11en6eqldekenrh0kiu0yzrj2sci&rid=giphy.gif');
    background-position: center;
}

header {
    align-self: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile-box {
    margin: 20px;
}

.photo {
    width: 150px;
    height: 150px;
    margin-bottom: 10%;
    border: 3px solid rgba(255, 255, 0, 0.55);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.btnChoice {
    font-family: 'Pathway Gothic One', monospace;
    display: block;
    width: 100%;
    color: yellow;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid rgba(255, 255, 0, 0.75);
    padding: 12px 40px 10px;
    transition: 1s ease-in-out;
}

.btnChoice:hover {
    transition: 1s ease-in-out;
    background: #2196f3;
}


/*TODO 12/04/2021 CARTA DA MÁQUINA ESTÁ LEVEMENTE MAL-POSICIONADA, VERIFICAR A FONTE DESTE BUG.*/

.machine-layout {
    display: block;
    width: 100%;
    border: none;
    margin-left: auto;
    margin-top: auto;
    color: yellow;
    margin-top: auto;
    background: transparent;
    font-family: 'Pathway Gothic One', monospace;
    padding-block: 7px;
}

.versus {
    font-size: xx-large;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}